

h1 {
    color: white;
    font-family:  sans-serif;
    text-align: center;
}

#container {
    height: 350px;
    width: 700px;
    background-color: #8265E5;
    margin: 0 auto;
    border-radius: 10px;
    color: #fff;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*label*/
.label {
    margin: 5px;
    justify-self: center;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

#hour-label {
    grid-area: 5 / 2 / 2 / 3;
    
}

#min-label {
    grid-area: 5 / 3 / 2 / 4;
}

#sec-label {
    grid-area: 5 / 4 / 2 / 5;
}

/*times*/
.time {
    justify-self: center;
    align-self: center;

    border: none;
    background-color: #ffffff00;
    font-size: 60px;
    width: 120px;
    height: 100px;
    background-color: #272727;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: inset 0px 0px 10px 5px black;
}

#hour {
    grid-area: 2 / 2 / 2 / 3;
    
    

}


#minute {
    grid-area: 2 / 3 / 2 / 3;
 
}

#sec {
    grid-area: 2 / 4 / 2 / 5;
}

/*button*/

.btn {
    align-self: center;
    background-color: black;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 150px;
    height: 60px;
    font-size: 30px;
    justify-self: center;
}

#start {
    grid-area: 4 / 3 / 4 / 4;
}

